@page "/short-description"
@using MsGlossaryApp.DataModel
@inject ILogger<ShortDescription> Log

<h2>Short description</h2>

@if (Handler.Synopsis == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="intro">

        <p>The short description will be used later in the social videos, in the title card</p>

        <p><strong>The Short Description is required!</strong></p>

        <p>
            For example:
            <br />
            <img src="/images/ShortDescription.png"
                 title="Microsoft Glossary Social Video Title Card" />
        </p>

        <p><a href="https://aka.ms/glossary/getting-started/synopsis#short-description" target="_blank">See the instructions</a></p>

        <div class="transcript-words-info @_charInfoClass">
            <p>The short description must be <strong>@Constants.MinCharactersInDescription-@Constants.MaxCharactersInDescription characters</strong> long.</p>

            <p>Currently your description has <strong><span class="@_charSpanClass">@_characters characters</span></strong>.</p>
        </div>

    </div>

    <EditForm EditContext="@Handler.CurrentEditContext">
        <DataAnnotationsValidator />

        <div class="edit-area">
            <InputTextArea @bind-Value="Handler.Synopsis.ShortDescription"
                           class="medium-input-text-area" />

            <hr />
        </div>

        <ValidationSummary />

        <Footer ReloadFromCloudClicked="@ReloadFromCloud" />

    </EditForm>
}
