<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["SiteTitle"] - @ViewData["PageTitle"]</title>

    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("headscripts", required: false)
</head>

<body>

    <div id="topics-bar">

        <div class="center"
             id="logo">
            <a href="/@ViewData["LanguageCode"]">
                <img src="~/img/Microsoft-logo_rgb_c-gray.png"
                     id="ms-logo" />
            </a>
        </div>

        @RenderSection("Topics", true)
    </div>

    <div id="main">
        @RenderBody()
    </div>

</body>
</html>
