<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure Words Of The Day - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("headscripts", required: false)
</head>

<body>

    <div id="topics-bar">

        <div class="center">
            <a href="/">
                <img src="~/img/Azure_216_blue.png"
                     id="azure-logo" />
            </a>

            <div id="title">
                <span id="title1">Microsoft Azure</span><br /><span id="title2">Words of the Day</span>
            </div>
        </div>

        @RenderSection("topics", true)
    </div>

    <div id="main">
        @RenderBody()

        <footer class="footer">
            &copy; @DateTime.Now.Year - Azure Words Of The Day -
            <a asp-area="" asp-page="/Privacy">Privacy</a> -
            <a href="https://twitter.com/AzWordsOfTheDay">Contact us</a>
        </footer>
    </div>

</body>
</html>
